* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    padding: 20px;
    background-color: black;
    color: #FFF;
    text-align: center;
}
.container {
    background-color: #999;
    max-width: 1290px;
    margin: 0 auto;
    
}

section h2{
    padding-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}

section form {
    padding: 20px;
    text-align: center;
    font-size: 16px;
}

input {
    margin: 0 auto 20px ;
    display: block;
}
section .container {
    height: 900px;
}

section p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.success-message {
    display: none;
}


